
@media screen and (max-width: 991px) {
/* propiedades CSS a aplicar en ventanas de 991px o menos */

.circle_center_features p, 
.circle_left_features p, 
.circle_right_features p 
{font-size: 18px}

.social_icons{display: none !important;}



.circle_center_features p, .circle_left_features p, .circle_right_features p {
color: #144758;
font-size: 20px !important;
font-weight: 700 !important;
padding-left: 10px !important;
padding-right: 10px !important;
margin-top: 15px !important;
line-height: 24px !important;
}
.up_ball_about {
margin-top: 10px !important;
}
}
@media (width: 375px) , (width: 384px) , (width: 360px), (width: 414px){

#Image-Maps-Com-image-maps-2014-11-28-092318 {
width: 100% !important;
margin-top: 30px;
height: 
}

p.impact_bullet_1 {
font-size: 18px !important;
color: #fff !important;
margin-top: -37px !important;
}



}
@media screen and (max-width: 400px) {
/* propiedades CSS a aplicar en ventanas de 414px o menos */
.fast_company_text{display: none; }

h3#respuesta{width: 252px !important;}

}

@media screen and (min-width: 414px) {

#show_mobile{display: none !important;}

}



@media screen and (max-width: 414px) {
/* propiedades CSS50px a aplicar en ventanas de 414px o menos */

.chris_1{margin-top: 30px !important;}

.sub_ball_color{float: left !important;}


.full_width_button_bottom{
    height: 40px !important;
}

.bs-example-modal-lg.in{margin-top: -20px !important;}

.modal-footer {
border-top: 0px solid #e5e5e5;
margin-bottom: -47px !important;
}

#hide_mobile_2{display: none !important;}

.about_circle_text_web{display: none !important;}

#show_web{display: none !important;}

.no_mobile{display: none !important;}


.lead{
    padding-top: 10px !important;
    font-size: 25px !important;
    line-height: 30px;
}

.space_story{height: 82px !important;}

.strow{padding-bottom: 37px !important;}
.hanah{margin-top: -4px !important;}
.diego{margin-top: -5px !important;}
.phone_mobile_rigth{margin-top: -15px !important;}


.sterio_contact {
height: 114px !important;
}

.full_width_button_bottom {padding-bottom: 0px !important;}

#myModalLabel {
font-size: 25px !important;
}



.navbar-nav {
margin: 7.5px -15px;
margin-top: -20px !important;
}

.social_icons_button{display: -webkit-inline-box !important;}

.navbar-text {
margin-top: 15px;
margin-bottom: -10px !important;
}

#footer{height: 140px!important;}

hr.space{height: 100px;}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
/* background-color: #333; */
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #144758 !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: yellow !important;
margin-top: 8px !important;
}
.navbar-toggle {
margin-top: 4% !important;
border-color: #144758 !important;
}

.navbar-toggle .icon-bar {
display: block;
width: 37px;
height: 4px;
border-radius: 1px;
}


.circle_center_features img, .circle_left_features img, .circle_right_features img {
width: 50% !important;
}

.circle_center_features p, .circle_left_features p, .circle_right_features p {

font-size: 20px !important;

}

.team_upside_space{margin-top: 120px;}

.circle_center_features, .circle_left_features, .circle_right_features {
color: #fff;
text-align: center;
position: relative;
width: 80% !important;
height: 0;
padding: 39% 0 !important;
border-radius: 50% ;
margin: 0 auto;
}

.fast_company_text{display: none; }

h3#respuesta{width: 252px !important;
margin-left: 66px !important;
margin-top: 55px !important;}


.circle_center, .circle_left, .circle_right {
width: 58% !important;
height: 0;
padding: 29% 0 !important;
border-radius: 50%;
color: #fff;
text-align: center;
background: #AECF74;
margin: 0 auto !important;
}



.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 0px solid transparent !important;
}

.mobile_li{margin-bottom: -8px;}

.hide_on_mobile{font-size: 20px;}

.circle_center_features p, .circle_left_features p, .circle_right_features p {

margin-top: 0px !important;
}


#social_share_impact{display: none;}

#impact_bullet_1st {
font-weight: 100 !important;
font-size: 71px !important;
margin-top: -76px !important;
}

h1#respuesta{
position: absolute;
margin-top: 70px;
z-index: 99;
margin-left: 20px;
}

.btn-warning {
background-color: #F0EC64;
border-color: #F0EC64;
color: #000;
font-size: 230%;
font-weight: 700;
margin: 0 auto;
width: 100% !important;
}

.terms {
text-align: center;
color: #fff;
padding-top: 30px;
font-size: 14px !important;
margin: 0 auto;
}

#Image-Maps-Com-image-maps-2014-11-28-092318{
    width: 289px;
    margin-top: 30px;
    height: 490px;
}

.btn-warning{font-size: 16px !important;}

.listen_demo{display: none;}

.circle_center_features p, .circle_left_features p, .circle_right_features p {
margin-top: 2% !important;
}

.text-left {
    margin-top: 3%;
}

.sub_ball_color{text-align: center;}

.reinforces_mobile{

    margin-top: 40%;
}


.learners_mobile{
    margin-top: 15%;
}




}


@media screen and (min-width: 768px) {
/*****************si la pantalla es menor a 768 haga esto.*************************/



}

@media screen and (max-width: 767px) {
/* propiedades CSS a aplicar en ventanas de 767px o más */


.mobile_icon_svg{
                width: 70%
                }

.full_width_button_bottom{
                        font-size: 5vw !important;
                        }   

.navbar-toggle{
                border-color: #144758 !important;
                }

.nav>li {
        font-size: 5.5vw !important;
        }

.circle_center_features img, .circle_left_features img, .circle_right_features img{
    margin-top: -32% !important;
    margin-left: 3px;
   
display: block;
max-height: 47px;
width: auto;
height: auto;
margin: 0 auto;

    }


/*.btn-warning{display: none;}*/

/*.phone_mobile_rigth{display: none;}*/









#footer {
     margin-top: 0px !important;
}

.subtext_homepage_1 {
display: none !important;
}

.listen_demo{
        text-align: center;
        position: absolute;/*test*/
        z-index: 1;
        width: 60%;
        font-size: 24px;
        margin-left: 61px;
        margin-top: 46px;
            }

.navbar-collapse{background-color: #12C0DB;}

#bs-example-navbar-collapse-1 ul li a{
            text-align: center;
            border-bottom: 1px solid white; 
        }
#bs-example-navbar-collapse-1 ul li a:last-of-type{
            
        }


.btn_mobile_center{text-align: center;}



    /* propiedades CSS a aplicar en ventanas de 980px o menos */
}

@media screen and (min-width: 1200px) {
/* propiedades CSS a aplicar en ventanas de 650px o más */

.circle_center_features, 
.circle_left_features,
.circle_right_features{
       width: 80% !important;
        height: 0 !important;
        padding: 40% 0 !important;
        }   
    .phone_tap_center{display: none;}
    .btn_mobile_center{display: none;q}
    
}


@media screen and (max-width: 480px) {
    /* propiedades CSS a aplicar en ventanas de 480px o menos */

/*.circle_center_features, .circle_left_features, .circle_right_features{
        width: 100% !important;
        height: 0 !important;
        padding: 50% 0 !important;
        margin-left: 14% !important;
    }*/

}


/*****************************End media queries***********************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

#social_icon{
    margin-right: 0;
margin-left: 0;
float: right;
padding-right: 10px !important;

}

body {
font-family: 'Quicksand', sans-serif;
font-weight: 300;
color: #3D3D3D;
}
a:hover, a:focus {
color: #2a6496;
text-decoration: none;
}

button:focus {outline:0;}


footer{background-color: #F47832;}

.navbar-inverse .navbar-nav>li>a:hover {
    color: yellow;
}

.social_icons_button{display: none;}


/*****************************index*****************************/
h3#respuesta{z-index: 999999;
margin-top: 76px;
position: absolute;
width: 302px;
margin-left: 19px;
text-align: center;
color: #144758;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #12C0DB !important; 
}


/*phone demo*/

.fast_company_text{
   color: #12C0DB;
font-size: 22px;
text-align: center;
font-weight: 700;
margin-top: 157px;
margin-right: 109px;

}

.fast_company_text a{
    color: #12C0DB;
    text-decoration: none;
}

.fast_company_text a:hover{color: #37AB98;}


.list {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    font-family: Geneva,Arial,Helvetica,sans-serif;
}
 
#items .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}
 
#items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
#items li {
    float: left;
    margin: 2px;
    padding: 2px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
/*end phone demo*/




.navbar-inverse .navbar-nav>li>a.active{
    color: #F0EC64 !important;
    font-weight: 700;
    }

.navbar-inverse{
    background-color: #144758;
    
}
.navbar-inverse .navbar-nav>li>a {
color: #fff;
}

.social_icons{
margin-top: 5px;
margin-right: 3px;

}

#bs-example-navbar-collapse-1{
    padding-top: 20px;
}
.navbar-brand
{
    line-height: 150px;
    height: 100px;
    padding-top: 0;
}
.navbar-brand>img {
display: block;
padding-top: 25px;
}

.nav>li {
/*position: relative;
display: block;*/
 font-size: 18px;
}

h1.listen_demo{
    text-align: center;
    font-weight: 700;
    margin-bottom: 100px;
    margin-right: 61px;
    color: #144758;
    margin-top: 76px;
}

.lead{
    font-size: 3.5vw;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: #144758;
    }


.subtext_homepage_1{
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 30px;
        }


a.b

.listen_demo{
        margin-top: 55px;
        text-align: center;
            }

.btn-warning{
    background-color: #F0EC64;
    border-color: #F0EC64;
    color: #000;
    font-size: 230%;
    font-weight: 700;
    margin: 0 auto;
    width: 90%;
    color: #144758;
    margin-right: 62px;
    margin-bottom: 35px !important;


}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
color: #fff;
background-color: #12C0DB;
border-color: #12C0DB;
}

.btn-warning a:hover, .btn-warning a:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
color: #fff;
background-color: #12C0DB;
border-color: #12C0DB;
}
#footer {
        height: 90px;
        margin: 0px auto;
        background-color: #F47832; 
        margin-top: 40px;   
    
        }
.index_phone{margin-top: 0px !important;}        

.terms{
        text-align: center;
        color: #fff;
        padding-top: 30px;
        font-size: 20px;
    }

.terms strong a{
    color: #fff;
    text-decoration: none;
}    

#keyboard{
   
    position: absolute;
    margin-top: 97%;
}

#keyboard a {
display: block;
height: 40px;
width: 13%;
float: left;
margin: 2px;
text-align: center;
padding: -1px;
font-size: 21px;
font-weight: bold;
color: #333;
outline: none;
}



/****************************what we do******************************/

.full_width_button_bottom{
    width: 100%;
    height: 60px;
    font-size: 40px;
    background-color: #F0EC64;
    color: #144758;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border: 0px;
    padding-bottom: 63px;

}
.full_width_button_bottom a{
    color: #144758;
    text-decoration: none;
}

.full_width_button_bottom a{
    
    color: #fff;
    text-decoration: none;
}



button.btn.btn-block.btn-primary, .btn-warning a{
color: #144758;
}
button.btn.btn-block.btn-primary, .btn-warning a:hover{
color: #fff;
}

.btn-warning a:hover{background-color: #12C0DB;}







.circle_center, .circle_left, .circle_right
        {
        width: 90%;
        height: 0;
        padding: 45% 0;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        background: #AECF74;
        margin: 0 auto;
        
        } 

.waterblue{
 background-color: #BFE5F0;
}
.green_one{
    background-color: #E8CD5C}


.circle_center img, .circle_left img, .circle_right img{
    margin-top: -26%;
}

.text-left{
        font-weight: 700;
        color: #144758;
        font-size: 25px;
            }
.p_ball{
        font-weight: 500;
        color: #3D3D3D;
        font-size: 20px;
        }

/*****************************End what we do***********************************/
/*****************************Features***********************************/

.circle_center_features, .circle_left_features, .circle_right_features
        {
    
        color: #fff;
        text-align: center;
        position: relative;
        width: 100%;
        height: 0;
        padding: 50% 0;
        border-radius: 50%;
        margin: 0 auto;

  
        } 
.circle_center_features img, .circle_left_features img, .circle_right_features img{
    margin-top: -34%;
    width: 40%;
}

.circle_center_features p, .circle_left_features p, .circle_right_features p
        {
         color: #144758;
        font-size: 25px;
        font-weight: 700;   
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 23px;
        line-height: 29px;
        }

.reinforces_mobile{margin-top: 2% !important;}        



.left_color{background: #12C0DB}
.center_color{background: #AECF74}
.center_color a{text-decoration: none;}
.right_color{background: #F47832}


.left_color_2{background: #BFE5F0;margin-bottom: 30px;}
.center_color_2{background: #E8CD5C;margin-bottom: 30px;}
.right_color_2{background: #F0EC64;margin-bottom: 30px;}

.left_color_3{background: #F47832;margin-bottom: 30px;}
.center_color_3{background: #12C0DB;margin-bottom: 30px;}
.right_color_3{background: #E8CD5C;margin-bottom: 30px;}

/*****************************end Features***********************************/

/*****************************Impact page***********************************/


.sub_ball_color{font-size: 20px; font-weight: 700; color: #144758;}
.no_bold{font-weight: 100;font-size: 20px;color: #3D3D3D;}

.impact_bullet{
    font-weight: 100 !important;
    font-size: 106px !important;
    color: #fff !important;
    margin-top: -20% !important;
    /*margin-top: -39% !important;*/
}
.impact_bullet_1{
    font-size: 18px !important;
    color: #fff !important;
    margin-top: 42px !important;
}




#gms_bullet ul{
    list-style: none;
}
.impact_text{font-size: 20px;}

.impact_header{font-size: 20px;
font-weight: 700;
color: #144758;
}
#social_share_impact li{
    font-size: 20px;
    font-weight: 700;
color: #144758;}

#gms_bullet li{font-size: 14px;}

/*

.gms_bullet ul li {
  list-style-image: url("../img/bullets/4.svg");
}
*/

/*****************************end impact page***********************************/


/*****************************Contact page***********************************/



/*.margin_contact{margin-top: 20%;}*/

.margin_story{margin-top: 20%;}


.right_color_contact{background-color: #F0EC64;}
/*****************************Contact page***********************************/

/*****************************Awards***********************************/
.awards{
margin-top: 5%;
}

.awards-story{font-weight: 500;
color: #3D3D3D;
font-size: 20px;
line-height: 1.42857143;}

.awards-story p a{font-weight: 700;
    color: #12C0DB;
}

.awards-story p a:hover {
color: #37AB98;
}
/*****************************end awards***********************************/

/*
.chris{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: 90px;
font-size: 25px;
}

.danielle{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: 96px;
font-size: 25px;
}
.marcelo{
font-weight: 800;
position: absolute;
margin-top: -86px;
color: #fff;
margin-left: 131px;
font-size: 25px;
}
.hana{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: 113px;
font-size: 25px;
}
.fco{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: 123px;
font-size: 25px;
}
.tsitso{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: px;
font-size: 25px;
}

.diego{
font-weight: 800;
position: absolute;
margin-top: -82px;
color: #fff;
margin-left: 90px;
font-size: 25px;
}*/

.chris, 
.danielle,
.marcelo,
.hana,
.fco,
.tsitso,
.diego{
font-weight: 700;
color: #144758;
font-size: 25px;
}


.team_upside_space{margin-top: 100px;}

.top-team{margin-top: 20px;}

.img-circle {

margin: 0 auto;
}

#team_share_impact{
padding-left: 0 !important;
 margin-left: 0px !important; 
list-style: none;
margin: 0 auto;
}

/*.meet-team{background:url("../img/team/ChristopherWeb.png") no-repeat;}*/

#story{margin-top: -150px;}

/*****************************About us***********************************/

.hide_on_mobile{font-size: 20px;font-weight: 100;}

.sub_ball_about{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;}

.up_ball_about{margin-top:16px !important;}    

.about_circle_text_web{margin-top: 15px !important;}

.btn_no_main{margin: 0 auto;}

/*****************************End About us***********************************/

.modal-content {
background-color: #BFE5F0;}

#myModalLabel{font-size: 40px;
color: #144758;
font-weight: 700;
text-align: center;}
.sterio_contact{height: 160px !important;}

.modal-header {
border-bottom: 0px solid #e5e5e5;
}
.modal-footer {
border-top: 0px solid #e5e5e5;
}
.modal-backdrop {
background-color: #fff; 
}
.modal-backdrop.in {
opacity: 0; 
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #144758;
border-radius: 4px;
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
color: #fff;
background-color: #12C0DB;
border-color: #12C0DB;
}

@media screen and (max-width: 414px) {

    .phone_new{background-image: url('../img/mobile/Mobile_nonumbers_2.png') !important;
background-repeat: no-repeat;
width: 281px;
height: 508px !important;
background-size: 287px;
background-position-x: 52px;
  }
.number_1, .number_2, 
.number_3, .number_4, 
.number_5, .number_6, 
.number_7, .number_8,
.number_9, .number_0{

    font-size: 30px !important;
}

.phone_first {
padding-top: 176px !important;
padding-left: 72px !important;
}
.number_1 {
    margin-right: 32px !important ;
    padding: 7px 24px !important;     
}

.number_2 {
    margin-right: 32px !important;
    padding: 7px 20px !important;
}
.number_3{
        padding: 7px 20px !important;
    }


.phone_second {
padding-left: 71px !important;
}
.number_4 {
margin-top: 6px !important;
margin-right: 35px !important;
padding: 7px 18px !important;

}
.number_5 {
margin-right: 32px !important;
padding: 7px 20px !important;
}
.phone_third {
padding-left: 72px !important;
padding-top: 7px !important;
}

.number_6{
        padding: 7px 19px !important;
        }

.number_7 {
        margin-right: 35px !important;
        padding: 7px 19px !important;
            }
.number_8 {
        margin-right: 32px !important;
        padding: 7px 19px !important;
        }
.number_9{padding: 7px 19px !important;}        

.number_0 {
        margin-left: 167px !important;
        margin-top: 9px !important;
        padding: 7px 18px !important;
        }

.phone_second, .phone_third{margin-top: 10px !important;}

.number_0{margin-top: 20px !important;}





}/*end query*/



.phone_new{background-image: url('../img/mobile/Mobile_nonumbers.png');
background-repeat: no-repeat;
width: 342px;
height: 560px;

  }
.phone_first{
    padding-top: 200px;
padding-left: 19px;
}

.phone_second{padding-left: 20px;}

.phone_third{
    padding-left: 20px;
    padding-top: 19px;
}

.number_1  {
    margin-right: 42px;
   border-style: none;
    border-color: #12C0DB;
   font-family: 'Quicksand', sans-serif;
  color: #144758 !important;
  font-size: 40px;
  padding: 7px 29px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #FFFFFF;
}
.number_1:hover {
  color: #14396A !important;
  background: #12C0DB;
}

.number_0{
margin-left: 137px;
margin-top: 22px;
}

.number_2{margin-right: 37px;}

.number_4{
    margin-top: 19px;
    margin-right: 44px;

}
.number_7{margin-right: 42px;}

.number_8{margin-right: 33px;}

.number_5{margin-right: 34px;}

.number_4{border-style: none;
    border-color: #ffffff;
   font-family: 'Quicksand', sans-serif;
  color: #14396A !important;
  font-size: 40px;
  padding: 7px 21px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #FFFFFF;}

.number_2, .number_3, .number_5, .number_6, .number_7, .number_8 {
    border-style: none;
    border-color: #ffffff;
   font-family: 'Quicksand', sans-serif;
  color: #14396A !important;
  font-size: 40px;
  padding: 7px 24px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #FFFFFF;
}

.number_9{
border-style: none;
border-color: #ffffff;
font-family: 'Quicksand', sans-serif;
color: #14396A !important;
font-size: 40px;
padding: 7px 23px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
background: #FFFFFF;
}
.number_0 {
border-style: none;
border-color: #ffffff;
font-family: 'Quicksand', sans-serif;
color: #14396A !important;
font-size: 40px;
padding: 7px 22px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
background: #FFFFFF;
}
.number_2:hover, .number_3:hover, .number_4:hover, .number_5:hover, .number_6:hover, .number_7:hover, .number_8:hover, .number_9:hover, .number_0:hover {
  color: #14396A !important;
  background: #12C0DB;
}

