<script type="text/javascript">

    function vidplay() {
       var video = document.getElementById("Video1");
       var button = document.getElementById("play_pause");
       if (video.paused) {
          video.play();
          button.textContent = "";
       } else {
          video.pause();
          button.textContent = "";
       }
    }


       
</script>

</head>
<body>        

<audio id="Video1" >
     <source src="../audio_files/question_1.mp3" type="audio/mp3" />    
</audio>




    <button id="play_pause" onclick="vidplay()">0</button>
        

<area id="play_pause" alt="number_1" a href="javascript:void(0)" title="number_0" shape="rect" coords="147,455,197,505" style="outline:none;" target="_self" onclick="vidplay()" style="cursor:pointer"/>
